
a {
  text-decoration: underline !important;
 -webkit-text-decoration-style: dashed;
 -moz-text-decoration-style: dashed;
  color: #222 !important;
}

select {
  border-radius: 0;
  width: 100%
  display: inline-block;
}

